{% extends "layout.html" %}

{% block title %}
Add Trip
{% endblock %}

{% block content %}

<div class="form-container">

    <h1>
        ✈️ Plan a New Trip
    </h1>

    <form method="POST">

        <div class="mb-3">
            <label class="form-label">
                Destination
            </label>

            <input 
                type="text" 
                name="destination" 
                class="form-control"
                placeholder="e.g. Tokyo, Japan"
                required>
        </div>


        <div class="mb-3">
            <label class="form-label">
                Date
            </label>

            <input 
                type="date" 
                name="date" 
                class="form-control"
                required>
        </div>


        <button type="submit" class="button">
            Save Trip
        </button>

    </form>

</div>

{% endblock %}



