{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<section class="hero">
        <h1>
            Welcome to Travel Planner 🌍
        </h1>

        <p>
            Plan your next adventure, organize your trips, and keep your memories in one place.
        </p>

        <a href="/trips" class="button">
            Start Planning
        </a>
            
        

</section>

<section class="features">

    <h2>Why Travel Planner?</h2>

    <div class="cards">

        <div class="card">
            <h3>✈ Organize Trips</h3>
            <p>
                Plan your itinerary and keep everything in one place.
            </p>
        </div>

        <div class="card">
            <h3>💰 Track Budget</h3>
            <p>
                Manage your travel expenses easily.
            </p>
        </div>

        <div class="card">
            <h3>📍 Save Places</h3>
            <p>
                Keep track of destinations you want to visit.
            </p>
        </div>

    </div>

</section>
{% endblock %}