<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Travel Planner{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

    <nav>
        <a href="/">🌍 Travel Planner</a>

        <div>
            <a href="/">Home</a>
            <a href="/trips">My Trips</a>
            <a href="/about">About</a>
            <a href="/login">Login</a>
        </div>
    </nav>
    

    <main>
        {% block content %}{% endblock %}
    </main>

</body>

</html>